.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 90%;
  gap: 30px;
  margin-bottom: 50px;
  align-items: center;
}

.container img {
  place-self: center;
  max-width: 80%;
  border-radius: 50px;
}

.container h3 {
  font-size: 2em;
}

.container p {
  font-size: 1.1em;
}
